<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page of clients site</title>
    <th:block th:replace="components/head.html :: head"></th:block>
    <link rel="stylesheet" href="/libs/onepage-scroll/onepage-scroll.css">
    <link rel="stylesheet" href="/css/mainpage.css">
    <link rel="stylesheet" href="http://anijs.github.io/lib/anicollection/anicollection.css">
</head>
<body id="page-top">
<div th:replace="components/header.html :: header"></div>

<div class="wrapper">
    <div class="main">
        <section class="page1">
            <h1 class="auto-text">Loading....</h1>
        </section>

        <section class="page2">
            <div class="details-1"
                 data-anijs="if: copy, do: bounceIn animated">
                How to play? Why does it exist? It is obvious
                Course, to play you need to create account here,
                after that, you could open 'Clickers' Tab,
                here is placed ALL clickers that was ever
                created by our admins. When you found the best one,
                you can see that there is one big image and timer and
                when you will click on image, timer would start, and
                you need just to beat record! It is also, maybe.
            </div>
            <div class="circle">
                <div class="button" data-anijs="if: click, do: wobble animated, to: .circle">
                    Register
                </div>
                <div class="button" data-anijs="if: click, do: rubberBand animated, to: .circle">
                    Login
                </div>
                <div class="button" data-anijs="if: click, do: tada animated, to: .circle">
                    Top Games
                </div>
                <div class="button" data-anijs="if: click, do: swing animated, to: .circle">
                    Top Players
                </div>
                <div class="button" data-anijs="if: click, do: bounce animated, to: .circle">
                    How to play
                </div>
            </div>
            <div class="details-2"
                 data-anijs="if: copy, do: bounceIn animated">
                Also every game have its own players top, where you can see the fastest clicker, ye, and forgot to say:
                you SHOULDN'T click by your self, you need to write or find auto clicker you write it by your self, so
                it is faster challenge to programs, course, you can try to click by yourself, but it could be hard.
            </div>
        </section>

        <section class="page3">
            <h1 class="register-text" data-anijs="if: dblclick, do: rollOut animated">Now, when you read this all, is You? dm. Just press button lower and start to play! </h1>
            <button><a
                    data-anijs="if: mouseover, do: hinge, to .register-text"
                    href="/register">REGISTER</a></button>
        </section>
    </div>
</div>

<div th:replace="components/scripts.html :: scripts"></div>
<script src="/libs/onepage-scroll/jquery.onepage-scroll.js"></script>

<script src="/libs/type-effect/typed.js"></script>
<script type="module" src="/js/typing.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>