.icon{
    width: 120px;
    height: 120px;
}

.game-block{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 7px;
    width: 150px;
    align-items: center;
    margin: 6px;
}
.game-block .title{
    font-weight: bolder;
}
.game-block-container{
    margin: 10px;
}
.action{
    width: 100%;
    display: flex;
    justify-content: center;
}
.action a {
    color: white;
    text-align: center;
}
.action .play{
    background-color: #33a133;
    width: 100%;
}
.action .records{
    background-color: #374fc6;
    width: 100%;
}